* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid;
    border-color: black;
}

.navbar {
    display: flex;
    background-color: #1f2937;
}

ul {
    display: flex;
    margin-left: auto;
    list-style-type: none;
    margin-right: 300px;
}

a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    margin-left: 300px;
    font-size: 24px;
    color: #f9faf8;
}
