* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #303030;
    color: #f9faf8;
    width: 75%;
    margin: 0 auto;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.navbar {
    background: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 180px;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    background-color: #1f2937;
    min-height: 450px;
    padding-left: 160px;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header p {
    font-size: 18px;
    color: #e5e7eb;
    line-height: 1.2;
}

.header .image {
    margin: 120px 180px;
    padding: 100px;
    height: 240px;
    width: 1000px;
    background-color: gray;
    color: #e5e7eb;
    text-align: center;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 7px 28px;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 10px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.boxes .container {
    display: flex;
    justify-content: space-between;
    background-color: #f9faf8;
    color: #1f2937;
    min-height: 500px;
}

.box {
    width: 300px;
    height: 160px;
    border: 2px solid #3882f6;
    border-radius: 14px;
}
